.dailyWeatherBar {
  margin-top: 15px;
  padding-top: 10px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  display: flex;
  background-image: linear-gradient(#0091d1 1%, rgb(92, 171, 223) 10%);
}
