@font-face {
  font-family: Roboto;
  src: url("../../css/font/Roboto-Regular.ttf");
}
.header {
  margin-top: 5%;
}
.todayHourMinutes {
  font-size: 28px;
  font-family: Roboto;
  margin-right: 20px;
}
.time {
  margin: 1% 0 0 0;
}
.coord {
  font-family: Roboto;
  margin: 1% 0 1.5% 0;
}
