.hoverWeatherBar {
  margin-top: 15px;
  padding-top: 10px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  display: flex;
  background-image: linear-gradient(#0091d1 1%, rgb(92, 171, 223) 10%);
}
.choseDayBar {
  display: flex;
  justify-content: space-around;
}
.choseDayBar button {
  font-family: Roboto;
  border: 2px solid #525252;
  box-shadow: 4px 4px 8px #b4b4b4;
  background-color: white;
  color: #636262;
  border-radius: 8px;
  padding: 2px 8px;
  margin: 10px;
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}
.choseDayBar .buttonActive {
  box-shadow: inset 0 0 10px #a5a5a5;
}
